In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

# Data Exploration

## Parquet files
These parquet files too large for my PC to handle.<br>
So we are going to explore the data using `immigration_data_sample.csv`.

In [3]:
df_p = pd.read_parquet('/home/felipe/Documentos/Udacity/Data Engineering Nanodegree/Udacity_final_project/data/parquet_files/', engine='pyarrow')
df_p.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,None,NaN,37.0,2.0,1.0,None,None,None,T,None,U,None,1979.0,10282016,None,None,None,1.897628e+09,None,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,25.0,3.0,1.0,20130811,SEO,None,G,None,Y,None,1991.0,D/S,M,None,None,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,55.0,2.0,1.0,20160401,None,None,T,O,None,M,1961.0,09302016,M,None,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,28.0,2.0,1.0,20160401,None,None,O,O,None,M,1988.0,09302016,None,None,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,4.0,2.0,1.0,20160401,None,None,O,O,None,M,2012.0,09302016,None,None,AA,9.246846e+10,00199,B2

In [4]:
len(df_p)

2200708

In [20]:
df_p['i94yr'].unique()

array([2016.])

In [21]:
df_p['i94mon'].unique()

array([4.])

## `I94_SAS_Labels_Descriptions`
To read this data I need to use something like this:<br>
https://knowledge.udacity.com/questions/125439

In [13]:
df_i04 =  pd.read_sas('/home/felipe/Documentos/Udacity/Data Engineering Nanodegree/Udacity_final_project/data/I94_SAS_Labels_Descriptions.SAS', format=None, index=None, encoding=None, chunksize=None, iterator=False)
df_i04.head()

ValueError: unable to infer format of SAS file from filename: '/home/felipe/documentos/udacity/data engineering nanodegree/udacity_final_project/data/i94_sas_labels_descriptions.sas'

## `imigration_data_sample.csv`

In [3]:
df_i = pd.read_csv('/home/felipe/Documentos/Udacity/Data Engineering Nanodegree/Udacity_final_project/data/immigration_data_sample.csv')
df_i.head()

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,20573.0,61.0,2.0,1.0,20160422,NaN,NaN,G,O,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,20568.0,26.0,2.0,1.0,20160423,MTR,NaN,G,R,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2
2,589494,1195600.0,2016.0,4.0,148.0,112.0,OGG,20551.0,1.0,FL,20571.0,76.0,2.0,1.0,20160407,NaN,NaN,G,O,NaN,M,1940.0,07052016,M,NaN,LH,5.578047e+10,00464,WT
3,2631158,5291768.0,2016.0,4.0,297.0,297.0,LOS,20572.0,1.0,CA,20581.0,25.0,2.0,1.0,20160428,DOH,NaN,G,O,NaN,M,1991.0,10272016,M,NaN,QR,9.478970e+10,00739,B2
4,3032257,985523.0,2016.0,4.0,111.0,111.0,CHM,20550.0,3.0,NY,20553.0,19.0,2.0,1.0,20160406,NaN,NaN,Z,K,NaN,M,1997.0,07042016,F,NaN,NaN,4.232257e+10,LAND,WT

When we take a look at the columns `count` and `cicid` to check for unique values and duplicates we can see that the `cicid` column can be used as key for information of imigrant dimension table.

In [5]:
df_i['count'].unique()

array([1.])

In [7]:
df_i.groupby(['cicid'])['cicid'].count().sort_index(ascending=False)

cicid
6061994.0    1
6058513.0    1
6057910.0    1
6057882.0    1
6055844.0    1
            ..
18310.0      1
17786.0      1
13826.0      1
13213.0      1
13208.0      1
Name: cicid, Length: 1000, dtype: int64

In [6]:
df_i.occup.unique()

array([nan, 'STU', 'PHA', 'OTH'], dtype=object)

In [7]:
df_i.entdepa.unique()

array(['G', 'Z', 'T', 'O', 'P', 'A', 'K', 'U', 'H'], dtype=object)

In [8]:
df_i.entdepd.unique()

array(['O', 'R', 'K', 'N', 'D', nan, 'I', 'Q', 'J', 'W', 'L'],
      dtype=object)

In [10]:
df_i.matflag.unique()

array(['M', nan], dtype=object)

In [11]:
df_i.visapost.unique()

array([nan, 'MTR', 'DOH', 'MNL', 'NSS', 'MOS', 'TLV', 'MDR', 'MEX', 'IST',
       'CPT', 'CRS', 'DUB', 'SPL', 'BNS', 'BEJ', 'TGG', 'RDJ', 'CLG',
       'NWD', 'BGT', 'KRK', 'VNN', 'LMA', 'CRO', 'SNJ', 'GUZ', 'KNG',
       'BEN', 'KLL', 'QTO', 'CHE', 'GTM', 'SGP', 'BRA', 'HYD', 'MNG',
       'SHG', 'SAR', 'BNK', 'BMB', 'ACK', 'WRW', 'NVL', 'PRM', 'KEV',
       'TAI', 'DHK', 'JDD', 'SPT', 'SAJ', 'SOF', 'SNS', 'VAC', 'SDO',
       'KWT', 'GDL', 'SNT', 'CHN', 'GEO', 'ABU', 'BGN', 'RCF', 'PTS',
       'GYQ', 'NCS', 'RID', 'SYD', 'MTM', 'JAK', 'ABD', 'KRC', 'PHP',
       'MER', 'LND', 'PRS', 'KDU', 'MST', 'RME', 'SEO', 'JRS', 'HNK',
       'RNG', 'CDJ', 'ULN', 'ISL', 'LPZ', 'KHT', 'ANK', 'CSB', 'LGS',
       'FRN', 'NRB', 'CUS', 'PTP', 'VIL', 'TKY', 'HML'], dtype=object)

In [13]:
print(df_i.arrdate.min())
print(df_i.arrdate.max())

20545.0
20574.0

## `airport-codes_csv.csv`

In [14]:
df_a = pd.read_csv('/home/felipe/Documentos/Udacity/Data Engineering Nanodegree/Udacity_final_project/data/airport-codes_csv.csv')
df_a.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [20]:
df_a[df_a['iata_code'] == 'MCA']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
22740,GUMA,small_airport,Macenta Airport,1690.0,AF,GN,GN-N,Macenta,GUMA,MCA,NaN,"-9.525071, 8.481857"

In [4]:
df_a.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In case we choose to use the `iata_code` as a key, we should pay attention to duplicate records.

In [7]:
df_a.groupby('iata_code')['iata_code'].count().sort_values(ascending=False)

iata_code
0      80
OHE     3
PRI     3
BCK     2
CLG     2
       ..
HMA     1
HLZ     1
HLW     1
HLV     1
ZZV     1
Name: iata_code, Length: 9042, dtype: int64

In [8]:
df_a[df_a['iata_code'] == 'OHE']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
15089,CN-0011,closed,[Duplicate] Gu-Lian Airport,1836.0,AS,CN,CN-23,Mohe,ZYMH,OHE,NaN,"122.427768, 52.913917"
37384,OHE,closed,[Duplicate] Gu-Lian Airport,1836.0,AS,CN,CN-23,Mohe,ZYMH,OHE,NaN,"122.429056, 52.913244"
55062,ZYMH,medium_airport,Gu-Lian Airport,1836.0,AS,CN,CN-23,Mohe,ZYMH,OHE,NaN,"122.43, 52.912777777799995"

Even though we get only the airports with type other than 'closed' we will still face duplicate records.

In [9]:
df_a[df_a['type'] != 'closed'].groupby('iata_code')['iata_code'].count().sort_values(ascending=False)

iata_code
0      80
RCH     2
LPE     2
MRE     2
PRM     2
       ..
HLT     1
HLS     1
HLR     1
HLP     1
ZZV     1
Name: iata_code, Length: 8798, dtype: int64

In [10]:
df_a[df_a['iata_code'] == 'RCH']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
44593,SKRH,medium_airport,Almirante Padilla Airport,43.0,SA,CO,CO-LAG,Riohacha,SKRH,RCH,RCH,"-72.926, 11.5262"
50421,UY-0002,small_airport,Rocha Airport,91.0,SA,UY,UY-RO,Rocha,NaN,RCH,NaN,"-54.27989959716797, -34.47809982299805"